<div class="container_12">
	<div class="grid_12">
		<h1>{$shared.vars.aboutr.title}</h1>
		<img src="{$shared.vars.aboutr.img1}" alt="{$shared.vars.aboutr.title}" />
		<p>{$shared.vars.aboutr.text1}</p>
		<hr />
	</div>
	<div class="clear"></div>

	<div class="grid_4">
		<h2>{$shared.vars.aboutr.subtitle1}</h2>
		<img src="{$shared.vars.aboutr.img2}" alt="{$shared.vars.aboutr.subtitle1}" />
		<p>{$shared.vars.aboutr.text2}</p>
	</div>
	<div class="grid_4">
		<h2>{$shared.vars.aboutr.subtitle2}</h2>
		<img src="{$shared.vars.aboutr.img3}" alt="{$shared.vars.aboutr.subtitle2}" />
		<p>{$shared.vars.aboutr.text3}</p>
	</div>
	<div class="grid_4">
		<h2>{$shared.vars.aboutr.subtitle3}</h2>
		<img src="{$shared.vars.aboutr.img4}" alt="{$shared.vars.aboutr.subtitle3}" />
		<p>{$shared.vars.aboutr.text4}</p>
	</div>
	<div class="clear"></div>
</div>