<div class="container_12">
	<div class="grid_12">
		{{ if updated }}
			<div class="message info">
				<p>Informations mises &agrave; jour.</p>
			</div>
		{{ endif }}
		<div class="box">
			<div class="head">
				Aboutr Configuration
			</div>
			<form action="" method="post">
				<div class="row">
					<label for="title">Titre de la page</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.title}" id="title" name="title" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="img1">URL de l'image principale</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.img1}" id="img1" name="img1" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="text1">Texte Principal</label>
					<div class="form-right">
						<textarea name="text1" id="text1">{$shared.vars.aboutr.text1}</textarea>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="subtitle1">Sous-Titre #1</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.subtitle1}" id="subtitle1" name="subtitle1" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="img2">Miniature #1</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.img2}" id="img2" name="img2" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="text2">Sous-texte #1</label>
					<div class="form-right">
						<textarea name="text2" id="text2">{$shared.vars.aboutr.text2}</textarea>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="subtitle2">Sous-Titre #2</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.subtitle2}" id="subtitle2" name="subtitle2" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="img2">Miniature #2</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.img3}" id="img3" name="img3" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="text3">Sous-texte #2</label>
					<div class="form-right">
						<textarea name="text3" id="text3">{$shared.vars.aboutr.text3}</textarea>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="subtitle3">Sous-Titre #3</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.subtitle3}" id="subtitle3" name="subtitle3" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="img2">Miniature #3</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.aboutr.img4}" id="img4" name="img4" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="text4">Sous-texte #3</label>
					<div class="form-right">
						<textarea name="text4" id="text4">{$shared.vars.aboutr.text4}</textarea>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<input type="submit" value="Valider" class="cta" style="float: right" />
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#field2").val("{$shared.vars.aboutr.var2}");
	});
</script>
