<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<!-- Open-Graph Protocol (http://ogp.me/) -->
		<meta property="og:title" content="Mon site"/>
		<meta property="og:type" content="non_profit"/>
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:url" content="{$conf.settings.base}"/>
		<meta property="og:image" content="{$conf.settings.base}misc/images/ogimg.jpg"/>
		<meta property="og:site_name" content="Mon site"/>
		<meta property="fb:admins" content=""/>
		<meta property="og:description" content=""/>
		
		<!-- Url de base -->
		<base href="{$conf.settings.base}" />
		
		
		<title>Mon site</title>
		
		<!-- JS et CSS à charger -->
		{{ for type,include in includes }}
			{{ for file in include }}
				{{ if type == "js" }}
					<script type="text/javascript" src="{$file}"></script>
				{{ else }}
					<link href="{$file}" rel="stylesheet" type="text/css" />
				{{ endif }}
			{{ endfor }}
		{{ endfor }}
		
	</head>
	<body class="login">
		<header>
			<img class="logo" src="templates/base/images/logo.png" />
		</header>
		<div class="lineseparator"></div>
		<div class="main">
			
			<!-- Contenu de la page -->
			<div class="center" style="width: 400px;">
				{{ autoescape false }}
				{$output}
				{{ endautoescape }}
			</div>
					
		</div>
		
		<div class="lineseparator"></div>
		<footer>
			Copyright &copy; 2012 Likiweb (beta)
		</footer>
	</body>
</html>


<script type="text/javascript">
	
</script>
