<div class="container_12">
	<div class="grid_12">
		{{ if updated }}
			<div class="message info">
				<p>Updated.</p>
			</div>
		{{ endif }}
		
		<div class="box">
			<div class="head">
				Framework Configuration
			</div>
			<form action="" method="post">
				<input type="hidden" name="formsubmit" value="true" />
				<div class="row">
					<label for="baseurl">URL du site</label>
					<div class="form-right">
						<input type="text" value="{$conf.settings.base}" name="baseurl" id="baseurl" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<input type="submit" value="Valider" class="cta" style="float: right" />
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
		
		<h1>Maintenance</h1>
		<form action="" method="post">
			<input type="hidden" name="reset-cache" value="true" />
			<input type="submit" value="Reset cache" />
		</form>
		
		<h1>Available Themes</h1>
		<div class="theme-container">
			{{ for theme in shared.admin.themes }}
			<div class="available-theme">
				<a href=""><img class="preview" src="{$theme.info.screenshot}" alt="" /></a>
				<h3>{$theme.info.name}</h3>
				Version {$theme.info.version}<br />
				{{if current_theme != theme.id}}
					<form action="" method="post">
						<input type="hidden" name="theme-id" value="{$theme.id}" />
						<input type="submit" value="Activate" />
					</form>
				{{ endif}}
			</div>
			{{ endfor }}
		</div>
		
		<div class="clearfix"></div>
		
		<h1>Available Admin Themes</h1>
		<div class="theme-container">
			{{ for theme in shared.admin.admthemes }}
			<div class="available-theme">
				<a href=""><img class="preview" src="{$theme.info.screenshot}" alt="" /></a>
				<h3>{$theme.info.name}</h3>
				Version {$theme.info.version}<br />
				{{if current_admtheme != theme.id}}
					<form action="" method="post">
						<input type="hidden" name="adm-theme-id" value="{$theme.id}" />
						<input type="submit" value="Activate" />
					</form>
				{{ endif}}
			</div>
			{{ endfor }}
		</div>
		
		
	</div>
</div>
