<div class="container_12">
	<div class="grid_12">
		{{ if updated }}
			<div class="message info">
				<p>Informations mises &agrave; jour.</p>
			</div>
		{{ endif }}
		<div class="box">
			<div class="head">
				Configuration du Theme
			</div>
			<form action="" method="post">
				<div class="row">
					<label for="title">Titre</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.theme_base.title}" name="title" id="title" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="description">Description</label>
					<div class="form-right">
						<textarea name="description" id="description" cols="30" rows="10">{$shared.vars.theme_base.description}</textarea>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<label for="copyright">Copyright</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.theme_base.copyright}" name="copyright" id="copyright" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<input type="submit" value="Valider" class="cta" style="float: right" />
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#field2").val("{$shared.vars.aboutr.var2}");
	});
</script>
