<div class="container_12">
	<div class="grid_12">
		{{ if updated }}
			<div class="message info">
				<p>Informations mises &agrave; jour.</p>
			</div>
		{{ endif }}
		<div class="box">
			<div class="head">
				Mapr Configuration
			</div>
			<form action="" method="post">
				<div class="row">
					<label for="field1">Adresse</label>
					<div class="form-right">
						<input type="text" value="{$shared.vars.mapr.address}" name="address" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<input type="submit" value="Valider" class="cta" style="float: right" />
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>